nav {
    height: 50px;
    width: 100%;
    background-color: black;
    position: sticky;

        ul {
            color: white;
            list-style-type: none;
            margin-left: 1em;


    li {
        display: inline;

   }
}}
