header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark);
    z-index: 10;
  
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    ul {
      display: flex;
  
      li {
        list-style: none;
        
        &:not(:last-child) {
          margin-right: 45px;
        }
      }
  
      a {
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
      }
    }
  }
