//hero
.hero {
    position: relative;
    margin-top: 50px;
  
    &:after,
    &_image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    &:after {
      content: "";
      background-color: var(--dark);
      opacity: 0.63;
    }
  
    &_image {
      object-fit: cover;
    }
  
    .hero_content {
      position: relative;
      padding-top: 65px;
      padding-bottom: 140px;
      color: #fff;
      z-index: 1;  
      h1 {
        margin: 0;
      }
      .download_button {
        margin-top: 40px; 
        a{
          font-size: 1.4rem;
          text-decoration: none;
          background-color: rgba(2,2,2,0);
          border: 2px solid #fff;
          color: #fff;
          padding: 10px 20px;
        }
      }
    }
}
// hero ends



// hero bottom footer
.hero_section {
  margin-top: 20px;
  margin-bottom: 20px;
  .content {
    padding-right: 10px;
  }
  .social_icons {
    padding-left: 10px;
  }
}
//hero bottom footer ends



// tabs section
.tab_section {
    position: relative;
  
    &:after,
    &_image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    &:after {
      content: "";
      background: transparent linear-gradient(270deg, #6696E2 0%, #E27866 100%) 0% 0% no-repeat padding-box;;
      opacity: 0.42;
    }
  
    &_image {
      object-fit: cover;
    }
  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 115px;
    padding-bottom: 115px;

    //tabs/buttons
  nav {
    z-index: 1;
    ul {
      list-style: none;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background-color: #a37169;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        span {
          color: #fff;
          font-size: 1.4rem;
          text-transform: uppercase;
          font-weight: 600;
          transform: rotateZ(-45deg);
          opacity: 0.5;
          transition: 0.3s ease-in-out;
        }

        &.active,
        &:hover {
          background-color: #e27866;

          span {
            opacity: 1;
          }
        }
      }
    }
  }
}
  //content of tabs section
  .tab-content {
    display: none;
    animation: fade-in 600ms forwards;
    z-index: 1;
    
    &.active {
      display: block;
    }
    .flex {
      display: flex;
      .content{
        width: 100%;
        color: #fff;
      }
      .images {
        position: relative;
        width: 60%;
        justify-content: center;
        .two_images {
          display: flex;
          justify-content: space-between;
            .explore img, .veges img {
            width: 168px;
            }
          }
          &.image_cover {
          }
      }
      .one_bigger_image img {
        width: 362px;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scaleY(-1);
    transform-origin: center;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: center;
  }
}

//tabs section ends



// gallery section
.gallery {
  .container{
    h2 {
    text-align: center;
    }
  }
}

// gallery section ends


// back footer
.section_footer {
  background-color: var(--dark);
  .footer {
    flex-direction: row-reverse;
    padding-top: 50px;
    padding-bottom: 50px;
  .content {
    color:rgba(255, 255, 255, 0.5);
    text-align: right;
    padding: 0;
    padding-left: 10px;
   }
  }
}
// back footer ends